#debug  {
	position: absolute;
	top: 0; right: 0;
	font-size: 12px;
	line-height: 1.4em;
	background-color: white;
	padding: 10px;
	white-space: pre;
	z-index: 100;
}

* {
	box-sizing: border-box;
}

html, body { padding: 0; margin: 0; width: 100%; }

body {
	font: 16px/1.2em Raleway, Helvetica, Arial, sans-serif;
}

header {
	background-color: rgba(32, 121, 209, 1);
	padding: 20px 10%;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	z-index: 1;
}

#actions img {
	width: 50px;
	vertical-align: middle;
	border-radius: 50%;
}

footer {
	background-color: white;
	position: relative;
	top: 105px;
	padding: 30px 40px;
	width: 100%;
}

footer:after {
	content: "";
	display: block;
	clear: both;
}

#contact {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	display: inline-block;
	float: left;
	vertical-align: middle;
	line-height: 30px;
}

#contact a {
	color: #444;
	text-decoration: none;
	margin-right: 40px;
}

#social {
	display: inline-block;
	float: right;
}

#social img {
	vertical-align: bottom;
	width: 30px;
	margin-left: 15px;
}

header:after {
	content: "";
	display: block;
	clear: both;
	overflow: visible;
}

#logo {
	width: 200px;
	float: left;
}

h1 {
	margin: 0;
	padding: 5px 0;
}

h1 a { line-height: 1em; }

h1 img {
	width: 200px;
	vertical-align: bottom;
}

#actions {
	float: right;
	line-height: 64px;
}

#actions a {
	font-size: 1.2em;
	padding: 10px 20px;
	color: white;
	font-family: Raleway;
	text-transform: uppercase;
	text-decoration: none;
}

#actions a:hover {
	cursor: pointer;
}

#sign-in-button {
	background-color: transparent;
	letter-spacing: 5px;
}

#join-us-button, #who-we-are a, #what-were-up-to a {
	background-color: rgba(125, 164, 221, 1);
	font-weight: 600;
	letter-spacing: 4px;
	position: relative;
}

#content {
	color: rgba(63, 63, 67, 1);
	position: relative;
	top: 105px;
	padding-top: 40px;
}

#content:after {
	content: "";
	display: block;
	clear: both;
	overflow: visible;
}

#who-we-are, #what-were-up-to {
	padding: 40px 0;
}

#who-we-are p, #what-were-up-to p {
	letter-spacing: 4px;
	line-height: 1.8em;
	width: 50%; margin: 40px auto;
}

.call-to-action {
	margin-top: 60px;
}

#who-we-are h4 {
	font-size: 1.2em;
	font-weight: 300;
	letter-spacing: 6px;
	font-style: italic;
}

#what-were-up-to {
	background-color: rgba(243, 238, 238, 1);
}

#error {
	color: red;
	text-align: center;
	font-weight: 200;
	letter-spacing: 4px;
	font-style: italic;
	width: 40%; margin: auto;
	line-height: 1.6em;
}

#error button {
	color: red;
	border: none;
	background-color: transparent;
	font-weight: 200;
	letter-spacing: 4px;
	line-height: 1.6em;
	font-size: 1em;
	font-style: italic;
	padding: 0;
	text-decoration: underline;
}

#error button:hover {
	cursor: pointer;
}

input:focus {
	outline: none;
}

#status {
	position: absolute;
	top: 0; right: 0;
	background-color: white;
	width: 300px;
	white-space: pre;
	font-size: 12px;
	line-height: 1em;
	overflow: hidden;

}

.drop-down {
	background-color: white;
	display: inline-block;
	position: relative;
}

.drop-down:hover {
	cursor: pointer;
}

.drop-down:focus {
	outline: 1px solid #ccc;
}

.drop-down:focus ul {
	outline: 1px solid #ccc;
}

.drop-down h5 {
	display: inline-block;
	background-color: rgba(255, 255, 255, 1);
	padding: 14px 0 13px 15px;
	color: black;
	font-size: 1.4em;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 8px;
	margin: 0;
}

.drop-down h5:after {
	content: "\25BE";
	font-style: normal;
	padding: 10px 15px 10px 22px;
	margin-left: 10px;
	background-color: rgba(235, 235, 235, 1);
	color: rgba(137, 137, 137, 1);
}

.drop-down ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-top: 2px solid rgba(235, 235, 235, 1);
	position: absolute;
	min-width: 100%;
	overflow: scroll;
	z-index: 1;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.drop-down li {
	font-style: normal;
	padding: 15px 15px 15px 22px;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.4em;
	border-bottom: 2px solid rgba(235, 235, 235, 1);
}

.drop-down li:hover {
	background-color: rgba(125, 164, 221, 1);
	color: white;
}