html. body {
	width: 100%;
}

header {
	padding: 10px 20px;
	position: relative;
}

#logo {
	width: 100px;
	float: right;
}

#logo h1 {
	padding: 0;
	line-height: 1em;
}

#logo h1 img {
	width: 100px;
	vertical-align: top;
}

#actions {
	width: 100px;
	float: left;
	padding: 0;
	line-height: 1em;
}

#actions button {
	vertical-align: middle;
	background-color: transparent;
	border: 1px solid white;
	padding: 5px 10px;
	color: white;
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 200;
}

#actions a {
	display: none;
}