html. body {
	width: 100%;
}

header {
	padding: 10px 20px;
	position: relative;
}

#logo {
	width: 100px;
	float: right;
}

#logo h1 {
	padding: 0;
	line-height: 1em;
}

#logo h1 img {
	width: 100px;
	vertical-align: middle;
}

#actions {
	width: 100px;
	float: left;
	padding: 0;
	line-height: 37px;
}

#actions button, #search-button button {
	vertical-align: middle;
	background-color: transparent;
	border: 1px solid white;
	padding: 5px 10px;
	color: white;
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 200;
}

#actions a {
	display: none;
}

#menu { display: block; }

#menu button { vertical-align: middle; margin: 0; width: 100px; }

#sentence h5 {
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
}

#sentence ul { position: absolute; z-index: 10; }

#sentence ul li {
	z-index: 10;
}

footer {
	padding: 0 10px;
	margin-top: 20px;
}

#contact a {
	display: block;
	margin-bottom: 10px;
}

#social a {
	display: block;
	margin-bottom: 5px;
}

#social img {
	margin-left: 10px;
}

.drop-down {
	margin: 0;
}

#content, footer {
	top: 0;
	padding-top: 0;
}

#menu-options {
	clear: both;
	text-align: center;
	padding: 20px 0;
}

#menu-options img {
	width: 40px;
	border-radius: 50%;
	vertical-align: middle;
}

#menu-options a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: .8em;
	padding: 5px;
}