html, body { padding: 0; margin: 0; width: 100%; }

body {
	font: 16px/1.2em Raleway, Helvetica, Arial, sans-serif;
}

header {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-140px);
	text-align: center;
}

#colorful {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

h1, h2 {
	font-weight: 100;
} 

h1 {
	font-size: 3.1em;
}

h2 {
	font-size: 1.8em;
}

#colorful {
	height: 50px;
	background-image: url(/img/colorful.jpg);
	background-size: cover;
	background-position: 50%;
}

#social {
	font-size: 1.2em;
	width: 520px;
	margin: auto;
}

#twitter img {
	width: 75px;
}

#facebook img {
	width: 60px;
	margin-top: 8px;
}

#email {
	padding-top: 25px;
}

#email a {
	color: white;
	text-decoration: none;
	background-color: rgba(137, 178, 72, 1);
	padding: 10px 20px;
	border-radius: 8px;
}

#email a:hover {
	background-color: rgba(171, 226, 255, 1);
}

#social div {
	margin: 0 20px;
	float: left;
}